<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ExamenConexion"
			 connectionString="Database=ExamenUnidad2; Server=DESKTOP-DN74TNG\SQLEXPRESS; MultipleActiveResultSets=True; Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>